@model MvcModels.Models.Person

@{
    ViewBag.Title = "CreatePerson";
}

<h2>Create Person</h2>

@using (Html.BeginForm("DisplaySummary", "Home"))
{
    <div>@Html.LabelFor(m => m.PersonId) @Html.EditorFor(m => m.PersonId)</div>
    <div>@Html.LabelFor(m => m.FirstName) @Html.EditorFor(m => m.FirstName)</div>
    <div>@Html.LabelFor(m => m.LastName) @Html.EditorFor(m => m.LastName)</div>
    <div>@Html.LabelFor(m => m.Role) @Html.EditorFor(m => m.Role)</div>
    <div>@Html.LabelFor(m => m.BirthDate) @Html.EditorFor(m => m.BirthDate)</div>
    <div>@Html.LabelFor(m => m.Address.City) @Html.EditorFor(m => m.Address.City)</div>
    <div>@Html.LabelFor(m => m.Address.Country) @Html.EditorFor(m => m.Address.Country)</div>
    <div><input type="submit" value="Submitt" /></div>
}
